node_modules/
.venv/
*.pyc
__pycache__/
*.egg-info/
dist/
build/
.eggs/
*.sqlite3
staticfiles/
media/
.env
*.terraform*
terraform.tfstate*
kubeconfig*
*.pem
*.key
.DS_Store
celerybeat-schedule
zitadel/machinekey/zitadel-admin-sa.json
zitadel/machinekey/login-client.pat

